@bourne-leisure:registry=https://bournesupport.pkgs.visualstudio.com/digital-shared/_packaging/digital-shared-feed/npm/registry/
@havenengineering:registry=https://npm.pkg.github.com
always-auth=true
